*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .container1{
        /* border: 1px solid black ; */
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: aqua;
    }
    .logo span{
        color: skyblue;
    }
    .nav1 ul{
    display: flex;
    gap: 12px;
    }
    .nav2 ul{
        display: flex;
        justify-content: space-between;
        gap: 12px;
    }
    .nav2 button{
        border: 1px solid black;
        height:30px;
        width: 80px;
        padding-top: 5px;
        border-radius: 7px;
        background-color: blue;
        color: white;
        text-align: center;
        justify-content: center;

    }
    
    .nav1 ul li, .nav2 ul li {
        list-style: none;
    }
    .nav1 ul li a, .nav2 ul li a{
        text-decoration: none;
        color: white;
    }
    .btn1{
        border: 1px solid black;
        height: 30px;
        width: 80px;
        text-align: center;
        padding-top: 5px;
        border-radius: 7px;
        background-color: blue;
        /* color: white; */
    }
    /* .btb1 a{
        color: white;
    } */
    .part1{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    .part1 p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        color: aqua;
    }
    .part1 h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 45px;
        height: 10px;
        width:100%;
        text-align: center;
    }
    .section2{
        /* border: 1px solid black; */
        height: 60vh;
        justify-content: center;
        display: flex;
        padding-top: 20px;
        align-items: center;
        margin-top: 20px;
        justify-content: space-around;


    }
    .prt1 i {
        /* border: 5px solid black; */
        height: 30vh;
        width: 15vw;
        font-size: 150px;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
       color: aqua;
    }
    .prt1{
        /* border: 1px solid black; */
        height: 350px;
        width: 400px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color:beige;
    }
    
.section3  {
    /* border: 1px solid black; */
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }
    .part2{
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-around;
        width: 500px;
    }
    .part2 button{
        background-color: blue;
        color: white;
        height:30px;
        width: 100px;
        border-radius: 7px;
    }
    .section3 h2 {
        height: 45px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
    }

    
.section4{
    /* border: 1px solid black ; */
    display: flex;
    justify-content: space-around;
    height: 40vh;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aqua;
   
}
.section4 h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.section4 span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}
.section4 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}